<mat-tab-group>
  <mat-tab label="Informações Gerais">
    <app-gernal-information [userId]="userId"></app-gernal-information>
  </mat-tab>
  <mat-tab label="Prontuários">
    <app-medical-record [userId]="userId"></app-medical-record>
  </mat-tab>
  <mat-tab label="Exames Solicitados">
    <app-exams [userId]="userId"></app-exams>
  </mat-tab>
  <mat-tab label="Receitas">
    <app-medical-prescriptions [userId]="userId"></app-medical-prescriptions>
  </mat-tab>
  <mat-tab label="Exames Compartilhados">
    <app-shared-exams [userId]="userId"></app-shared-exams>
  </mat-tab>
</mat-tab-group>