<div class="content-info">

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="requestDate">
      <th mat-header-cell *matHeaderCellDef> Data Solicitada</th>
      <td mat-cell *matCellDef="let element"> {{element.requestDate | date:'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="datePerfomeded">
      <th mat-header-cell *matHeaderCellDef> Data Realizado</th>
      <td mat-cell *matCellDef="let element"> {{element.datePerfomeded | date:'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef> Ações</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="openDialogManagement(element)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum prontuário encontrato para "{{input.value}}"</td>
    </tr>
  </table>
</div>