.content-info {
  background-color: #fff;
  padding: 1rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}