<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="0"
      [opened]="mobileQuery.matches ? 'false' : 'true'" [fixedInViewport]="true">
      <img src="../../../assets/images/logo.png" alt="logo" class="logo">

      <mat-nav-list *ngIf="profileType === 'doctor'">
        <a mat-list-item *ngFor="let item of doctorMenu" routerLink="{{item.path}}"
          routerLinkActive="active">{{item.name}}</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="profileType === 'medical-clinic'">
        <a mat-list-item *ngFor="let item of medicalClinicMenu" routerLink="{{item.path}}"
          routerLinkActive="active">{{item.name}}</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="profileType === 'pacient'">
        <a mat-list-item *ngFor="let item of pacientMenu" routerLink="{{item.path}}"
          routerLinkActive="active">{{item.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row>
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>{{profileName}}</span>
          <span class="spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button routerLink="/auth/login">
            <mat-icon>logout</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/pacient/history">Visão Paciente</button>
    <button mat-menu-item routerLink="/doctor/dashboard">Visão Médico</button>
    <button mat-menu-item routerLink="/medical-clinic/dashboard">Visão Clínica</button>
  </mat-menu>

</div>