/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body * {
  font-family: "Open Sans", sans-serif;
}

.white {
  background-color: #00f93633 !important;
  color: #000 !important;
  text-align: center;
}

.mat-dialog-container {
  height: auto !important;
}
