<mat-tab-group>
  <mat-tab label="Informações Gerais">
    <app-general-information></app-general-information>
  </mat-tab>
  <mat-tab label="Prontuários">
    <app-medical-record></app-medical-record>
  </mat-tab>
  <mat-tab label="Exames Solicitados">
    <app-exams></app-exams>
  </mat-tab>
  <mat-tab label="Receitas">
    <app-medical-prescriptions></app-medical-prescriptions>
  </mat-tab>
  <mat-tab label="Exames Compartilhados">
    <app-shared-exams></app-shared-exams>
  </mat-tab>
</mat-tab-group>