<div class="container">
  <div class="logo" routerLink="">
    <img src="../../../../assets/images/logo.png" alt="logo">
  </div>
  <div class="content-form">
    <h3 class="title">Login</h3>
    <form class="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="user@gmail.com" type="email" value="">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="***" value="" type="password">
      </mat-form-field>
      <mat-checkbox value="true" [checked]="true">Manter-me conectado</mat-checkbox>
      <button mat-flat-button color="primary" routerLink="/dashboard/medico">Entrar</button>
      <a routerLink="/auth/recuperar_senha">Esqueceu sua senha?</a>
    </form>

    <div class="divider"></div>

    <section class="register">
      <p>Ainda não possui uma conta?</p>
      <button mat-flat-button color="accent" routerLink="/auth/cadastro">Cadastrar-se</button>
    </section>
  </div>
</div>