<div class="container">
  <div class="logo" routerLink="">
    <img src="../../../../assets/images/logo.png" alt="logo">
  </div>
  <div class="content-form">
    <h3 class="title">Recuperar senha</h3>
    <form class="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="user@gmail.com" type="email" value="">
      </mat-form-field>
      <button mat-flat-button color="primary" routerLink="/auth/login">Enviar e-mail</button>
    </form>

    <div class="divider"></div>

    <section class="register">
      <p>Já possui uma conta?</p>
      <a mat-flat-button color="accent" routerLink="/auth/login">Entrar</a>
    </section>
  </div>
</div>