<div class="container">
  <div *ngFor="let item of indicators; index as i;" class="chart-0{{i + 1}} chart">
    <app-indicator [indicator]=item></app-indicator>
  </div>
  <div class="chart-05 chart">
    <app-calendar [view]="view" [viewDate]="viewDate" [activeDayIsOpen]="activeDayIsOpen" [hourSegments]="hourSegments"
      [dayStartHour]="dayStartHour" [dayEndHour]="dayEndHour" [showMonth]="true" [showDay]="true" [events]="events">
    </app-calendar>
  </div>
  <div class="chart-08 chart">
    <app-chart viewType="doctor"></app-chart>
  </div>
</div>