<div class="content-modal">
  <h2>Receita</h2>

  <form class="form">
    <mat-form-field class="full-width" appearance="fill" *ngIf="!data.id">
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Descrição" type="text" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descrição geral:</mat-label>
      <textarea matInput placeholder="Receita médica" name="data" [(ngModel)]="data.data"></textarea>
    </mat-form-field>

    <div class="button-container" *ngIf="!data.id">
      <button mat-raised-button color="accent" mat-dialog-close>Salvar</button>
    </div>
  </form>
</div>